<% if @list.photo.attached? %>
  <div class="m-0 list-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @list.photo.key, crop: :fill %>')">
<% else %>
  <div class="m-0 list-banner" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.7)), url(http://source.unsplash.com/featured/?movie)">
<% end %>
  <div class="container text-center">
    <h1 class="list-title"><%= @list.name %></h1>
  </div>
</div>

<div class="container text-center">
  <a href="#bookmark-form"><button class="btn btn-secondary mt-3 rounded w-50">Add a movie</button></a>
  <div class="card-group">
    <% @list.bookmarks.each do |bookmark| %>
      <div class="col-4 my-4">
        <div class="card h-100 text-left">
          <%= image_tag "#{bookmark.movie.poster_url}", alt: "poster", class: "card-img-top" %>
          <div class="card-body border">
            <h5 class="card-title"><%= bookmark.movie.title %> - <%= bookmark.movie.rating %> <i class="fas fa-star" style="color: #FEE119"></i></h5>
            <p class="card-text"><%= bookmark.movie.overview %></p>
          </div>
          <div class="card-footer d-flex justify-content-between">
            <small class="text-muted"><i class="fas fa-quote-left mr-2"></i><%= bookmark.comment %></small>
            <%= link_to "Delete",
                        bookmark_path(bookmark),
                        method: :delete,
                        class: 'card-remove-link', 
                        data: { confirm: "Remove #{bookmark.movie.title}?"} %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="container" id="bookmark-form">
  <ul class="list-group border p-3 mt-3">
    <h2 class="text-center">Add a movie</h2>
    <%= render "bookmarks/form", bookmark: @bookmark %>
  </div>
</div>
